@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

@theme {
  --color-fundo: #130833;
  --color-fundo-cards: #252547;
  --color-roxo-claro: #31315E;
  
  --color-azul-claro: #78D2F2;
  --color-azul-escuro: #002947;
  --color-azul: #004B82;

  --font-padrao: "Verdana", sans-serif;
  --font-corpo: "Dosis", sans-serif;
  
}